body {
  background-image: url("../images/background_light.jpg");
  background-repeat: repeat-x;
  background-color: #c4c0be;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
#wrap {
  width: 960px;
  margin: auto;
}
#logo {
  margin-top: 12px;
  margin-bottom: 12px;
}
p {
  font-size: 12px;
  color: #555;
  line-height: 18px;
  margin-right: 10px;
}
#featured {
  width: 918px;
  padding: 20px;
  background-image: url("../images/background_block_slice.jpg");
  background-repeat: repeat-x;
  background-color: #FFF;
  border: 1px solid #FFF;
}
#featured h1, #entries h1 {
  font-size: 30px;
  margin-bottom: 5px;
}
#featured span, #entries span {
  display: block;
  font-weight: bold;
  font-size: 12px;
}
#featured > img {
  float: right;
  border: 1px solid #CCC;
}
#featured > p {
  width: 480px;
  /*display: inline-block;*/
  float: left;
}
#entries {
  margin-top: -20px;
  background-image: url("../images/background-inner.jpg")
}
#entries > article {
  padding: 20px;
}
.clear {
  clear: both;
}
#menu{
  width:23%;
  background-color: #a9a9a9;
  float:right;
  padding:0 0 0 2%;
}

ul{
  list-style: none;
  padding: 0;
}

li{
  padding-top: 5px;
  padding-bottom: 5px;
}

footer {
  clear: both;
  background-color: #000;
  color:#7f7d78;
  text-align: right;
  width: 940px;
  font-size: 12px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;

}