@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans);
body {
  background-image: url("../images/background_light.jpg");
  background-repeat: repeat-x;
  background-color: #c4c0be;
  font-family: 'Merriweather Sans', sans-serif;
  height: 100%;
}
a {
  text-decoration: none;
  color: #2668a8;
}
#wrap {
  width: 960px;
  margin: auto;
}
#logo {
  margin-top: 12px;
  margin-bottom: 12px;
  -webkit-transition: all ease-in-out .6s;
  -moz-transition: all ease-in-out .6s;
  -ms-transition: all ease-in-out .6s;
  -o-transition: all ease-in-out .6s;
  transition: all ease-in-out .6s;
}
#logo:hover {
  transform:rotate(-360deg) scale(1.13);
  -ms-transform:rotate(-360deg) scale(1.13);
  -webkit-transform:rotate(-360deg) scale(1.13);
  margin-left: 50px;
}
p {
  font-size: 11px;
  color: #555;
  line-height: 18px;
  margin-right: 10px;
}
#featured {
  width: 918px;
  padding: 20px;
  background-image: url("../images/background_block_slice.jpg");
  background-repeat: repeat-x;
  background-color: #FFF;
  border: 1px solid #FFF;
}
#featured h1, #entries h1 {
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 5px;
  margin-top: 0;
}
#featured span, #entries span {
  display: block;
  font-weight: bold;
  font-size: 11px;
}
#featured > img {
  float: right;
  border: 1px solid #CCC;
}
#featured > p {
  width: 480px;
  /*display: inline-block;*/
  float: left;
}
#entries {
  background-image: url("../images/background-inner.jpg");
  background-repeat: repeat-x;
  background-color: #FFF;
  width: 707px;
  float: left;
}
#entries > article {
  margin: 10px 20px;
  padding: 0;
  border-bottom: 1px solid #EEE;
}
.clear {
  clear: both;
}
#menu{
  width:250px;
  background-color: #a9a9a9;
  float:left;
  padding:0;
  height: 100%;
  margin: 0 auto;
}
h2{
  font-weight: lighter;
  font-size: 19px ;
  color:#222;
  margin-bottom: -6px;
}
h2, ul{
  margin-left: 12px;
}
ul{
  list-style: none;
  padding: 0;
}
li, li > a {
  color: #575757;
}
li{
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 11px;
}

footer {
  clear: both;
  background-color: #000;
  color:#7f7d78;
  text-align: right;
  width: 940px;
  font-size: 11px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
}
#innerwrap {
  background-color: #a9a9a9;
}